@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
body {
	margin: 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	font-family: 'Karla', sans-serif;
	background-color: #1f2937;
}

.container {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	width: 500px;
	height: 500px;
	padding: 50px;
	padding-top: 100px;
	background-color: #1f2937;
}

button {
	width: 191px;
	height: 42px;
	background-color: #10b981;
	border: none;
}
.passwords {
	display: flex;
	justify-content: space-between;
}
.passwords > p {
	width: 211px;
	height: 35px;
	color: #10b981;
	background-color: #273549;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 5px;
	margin: 0;
}

h1 {
	color: white;
	font-family: 'Karla', sans-serif;
    font-weight: 800;
}

p {
	color: #d5d4d8;
	font-family: 'Karla', sans-serif;
}
