@import url('https://fonts.cdnfonts.com/css/cursed-timer-ulil');
body {
	margin: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: #1b244a;
    display: flex;
    justify-content: center;
}

.container {
	display: flex;
	justify-content: space-around;
    display: flex;
    align-items: center;
    width: 575px;
    height: 385px;
}

.counter-display {
	height: 120px;
	width: 155px;
	background-color: #080001;
	color: #f94f6d;
	font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

h1{
    display: flex;
}

h3 {
	color: white;
    display: flex;
    justify-content: center;
    font-size: 36px;
    /* margin: 20px; */
}

button {
	background-color: #1b244a;
	color: #9aabd8;
	border: 1.5px solid #9aabd8;
	border-radius: 2px;
	font-family: 'Cursed Timer ULiL', sans-serif;
    width: 45px;
    height: 45px;
	/* padding: 4px 5px; */
}

.increment-buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    gap: 5px;
    width: 155px;
    height: 45px;
}